<section class="flex flex-col cinephoria-hall h-[45dvh] w-[33.333dvw] justify-evenly items-center" style="background-image: url('{{ currentMovieImage }}')">
    <h2 class="cinephoria-hall-number">Salle {{ number }}</h2>
    <h3 class="cinephoria-movie-title">{{ currentMovieTitle }}</h3>
    <div class="flex flex-row justify-center items-center w-100">
        <img ngSrc="../../assets/images/Clock.png" alt="Horaires du film" class="mr-1" width="25" height="25" />
        <span class="cinephoria-showtime ml-1">{{ startHour }}h{{ startMinute }} - {{ endHour }}h{{ endMinute }}</span>
    </div>
    <p class="cinephoria-alert">{{ numberOfIncidents }} incident(s) en cours</p>
    <button type="button" class="cinephoria-button h-10 w-55" (click)="displayIncidents(id)">
        <img ngSrc="../../assets/images/Clipboard.png" alt="Afficher les incidents" class="icon" width="20" height="20" /> <span class="ml-7">Afficher les incidents</span>
    </button>
</section>