<section class="cinephoria-incident flex flex-col">

    <div class="flex flex-row justify-between mx-5 h-40">

        <div class="flex flex-col justify-between w-4/10">

            <h3 class="cinephoria-incident-header my-2">{{ type }}</h3>

            <div class="flex flex-row items-center h-1/2">
                <img ngSrc="../../assets/images/Calendar.png" alt="Date de l'incident" class="mr-1" width="25" height="25" />
                <span class="cinephoria-showtime ml-3">{{ date }}</span>
            </div>
            <div class="flex flex-row items-center h-1/2">
                <img ngSrc="../../assets/images/Clock.png" alt="Heure de l'incident" class="mr-1" width="25" height="25" />
                <span class="cinephoria-showtime text-center ml-3">{{ hour }}</span>
            </div>
        </div>

        <div class="flex flex-row justify-center items-center text-justify w-6/10" style="word-break: break-word">
            <p class="cinephoria-main-text">{{ description }}</p>
        </div>

    </div>

</section>