@import "tailwindcss";

@font-face {
    font-family: "Great Vibes";
    src: url("assets/fonts/GreatVibes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather";
    src: url("assets/fonts/Merriweather-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.cinephoria-background {
    background-color: #1C1C1C;
}

.cinephoria-main-title {
    color: #FFFFFF;
    font-family: Great Vibes, sans-serif;
    font-size: 64px;
}

.cinephoria-header {
    color: #FFFFFF;
    font-family: Merriweather, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.cinephoria-button {
    position: relative;
    background-color: #E63946;
    color: #FFFFFF;
    border-radius: 2px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.cinephoria-button img {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.cinephoria-button:hover {
    background-color: #e62232;
}

.cinephoria-button:active {
    background-color: #C41826;
}

.cinephoria-button:disabled {
    background-color: lightgrey;
    color: #1C1C1C;
}

.cinephoria-input {
    background-color: #FFFFFF;
}

.cinephoria-input::placeholder {
    color: #1C1C1C;
}

.cinephoria-input-container {
    position: relative;
    width: 250px;
}
.cinephoria-input-container img {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}
.cinephoria-input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;  /* Add padding to make space for the image */
    border-radius: 2px;
    font-size: 16px;
    font-family: Raleway, sans-serif;
}
.cinephoria-input-container input:focus {
    border-color: unset;
    outline: none;
}