<div class="h-120 overflow-auto">
    @for (incident of incidentList; track incident.id;) {
        <app-incident [type]="incident.type" [description]="incident.description" [date]="incident.date" [hour]="incident.hour"></app-incident>
    } @empty {
        Aucun incident dans cette salle.
    }
</div>
<footer class="text-center my-3">
    <button type="button" class="cinephoria-button h-10 w-40">
        <img ngSrc="../../assets/images/Left_arrow.png" alt="Retour" width="20" height="20" /> <span>Retour</span>
    </button>
</footer>