<main class="h-[85dvh] overflow-auto">
    @for (incident of incidentList; track incident.id;) {
        <app-incident [type]="incident.type"
                      [description]="incident.description"
                      [date]="incident.date"
                      [hour]="incident.hour"
                      [minute]="incident.minute">
        </app-incident>
    } @empty {
        Aucun incident dans cette salle.
    }
</main>
<footer class="h-[10dvh] flex flex-col justify-center items-center my-3">
    <button type="button" class="cinephoria-button h-10 w-40" (click)="returnToHallList()">
        <img ngSrc="../../assets/images/Left_arrow.png" alt="Retour" width="20" height="20" /> <span>Retour</span>
    </button>
</footer>